body {
  background: lightcyan;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-weight: bold;
  background-color: rgb(253, 255, 126);
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  margin: 5px;

}

input {
  border: 1px solid black;
  margin-left: 3px;
}

select {
  border: 1px solid black;
  margin-left: 3px;
}

#landing {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}


#landing p {
  text-align: left;
}


.link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.link:hover {
  color: darkcyan;
}


@media only screen and (min-width: 500px){

#landing {
  width: 500px;
}



}