.line {
    font-size: 22px;
  }
  
li { 
    list-style: none;
  }

ul {
  padding-left: 0;
}

p {
  margin: 3%;
  padding: 0;
}

form {
  padding: 5px;
  display: block;
}

.display {
    background-color: white;
    margin: 5%;
    border: solid 2px black;
  }

.teleButton {
  margin-bottom: 20px;
}

