.sections {
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
    display: block;
    height: 150px;
    width: 75%;
    border-radius: 10px;
  }

  .uploadButton {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sectionLabel {
    margin: 10px;
    display: block;
    font-weight: bold;
  }

  #titleLabel {
    font-weight: bold;
  }

  #textTitle {
    height: 20px;
    border-radius: 5px;
  }