.line {
    font-size: 22px;
  }
  
li { 
    list-style: none;
  }

ul {
  padding-left: 0;
}

p {
  margin: 3%;
  padding: 0;
}

form {
  padding: 5px;
  display: block;
}

.display {
    margin: 10%;
    border: solid 2px black;
  }